
body {
    font-family: "Arial", sans-serif;
       font-weight: 600;
       color: #000000;
       background-color: #FFFFFF;
   }
   
   /*header tag */
   header {
       background-color: #17072b;
       padding-top: 1.5em;
   }
   
   /* h1 tag */
   h1 {
       margin-left: auto;
       margin-right: auto;
       color: #FFFFFF;
       font-size: 36px;
       font-family: "Tahoma", sans-serif;
       font-weight: 400;
       border-bottom-style: solid;
       padding-bottom: 0.05px;
       border-bottom-width: 3.5px;
       width: fit-content;
   }
   
   h2 {
       font-family: "Tahoma", sans-serif;
       font-size: 26px;
       font-weight: 400;
   }
   
   /* navigation bar */
   .navigation {
       padding-top: 20px;
       padding-bottom: 16px;
       display: flex; 
       justify-content: center;
       align-items: center;
   }
   
   .navigation a {
       padding: 0 17px;
       font-size: 21px;
       text-decoration: none;
       color: #ffffff;
   }
   
   /* Welcome Section */
   main {
       display: flex;
       flex-wrap: wrap;
   }
   
   main .welcome {
       display: flex;
       flex-direction: column;
       flex: 0.88;
       margin: 28px 28px 0 30px;
   }
   
    h2 {
       border-bottom-style: solid;
       padding-bottom: 0.1px;
       border-bottom-width: 3px;
       width: fit-content;
   }
   
   p {
       margin-top: 16px; 
       margin-bottom: 16px;
       font-size: 18px;
   }
   img {
       width: 700px;
   }
       
   line-up {
       background-color: #172D67;
       color: #FFFFFF;
       padding: 24px 32px 24px 32px;
       margin: 10px 0 0 10px;
   }
   
   .line-up h2 {
       border-bottom-style: solid;
       padding-bottom: 0.1px;
       border-bottom-width: 2px;
       width: fit-content;
   }
   
   .line-up p {
       font-size: 18px;
       margin-top: 16px; 
       margin-bottom: 16px;
   }
   
   .line-up .images {
       margin-top: 3.4em;
   }
   
   
   .images img {
       width: 200px;
       height: 200px;
   }
   
   /* space between images */ 
   .images .one {
       margin-right: 6px;
   }
   
   /* footer */
   footer {
       background-color: #8c15e9;
       padding: 6px;
       text-align: center;
       margin-top: 8px;
       font-size: 18px;
       color: #FFFFFF;
   }
   
   footer p {
       overflow: hidden;
       margin: 0;
   }
