body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header, nav, main, footer {
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
    font-size: 36px;
}

ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #800707;
}

a:hover {
    color: #5f0404;
}

article {
    background-color: rgb(69, 116, 217);
    padding: 20px;
    border-radius: 5px;
}

footer {
    background-color: rgb(255, 255, 255);
    color: #000000;
    position: fixed;
    bottom: 0;
    width: 100%;
}
